[submodule "auth-user"]
	path = auth-user
	url = git@github.com:krico/auth-user.git
[submodule "trocado"]
	path = trocado
	url = git@github.com:krico/trocado.git
[submodule "trocado-web"]
	path = trocado-web
	url = git@github.com:krico/trocado-web.git
